.fliv {
  height: 200px;
  width: 314px;
  /*border-width: thick;*/
  position: absolute;
  left: 100px;
  /*border: 2px solid black;*/
  /*border-color: var(--bs-dark);*/
}

.even {
  width: 310px;
  position: absolute;
  top: 100px;
  color: black;
}

.odd {
  position: absolute;
  top: 110px;
  left: 80px;
  color: white;
}

.os {
  position: absolute;
  background-color: transparent;
  top: 0px;
  width: 320px;
  left: 0px;
  height: 170px;
  color: transparent;
}

.android {
  position: absolute;
  background-color: transparent;
  top: 0px;
  width: 320px;
  left: 0px;
  height: 170px;
  color: transparent;
}

.header {
  position: absolute;
  left: 300px;
  top: 150px;
}

.ert {
  position: absolute;
  top: 500px;
  width: 100%;
}

