.btn {
  position: absolute;
  left: 45%;
}

p {
  width: 200px;
  position: absolute;
  left: 10%;
  top: 325px;
  color: grey;
}

.flex-container {
  /*background-color: cadetblue;*/
  display: flex;
  height: 300px;
}

.fliv2 {
  position: absolute;
  left: 500px;
  /*top: 300px;*/
  border: 2px solid rgba(253,253,255,0.2);
  /*border: 2px solid back;*/
}

#services {
  background-color: #ffffff;
}

.section-heading {
  top: 60px;
}

btc {
}

.btc {
  color: var(--bs-blue);
  background: #ffffff;
}

.section-subheading {
  color: white;
}

.promg {
  border: 3px solid black;
}

.android {
  position: absolute;
  background-color: transparent;
  top: 0px;
  width: 320px;
  left: 0px;
  height: 170px;
  color: transparent;
}

#modal-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  /*border: 2px solid black;*/
}

.modelp {
  position: absolute;
  top: 0px;
  width: 400px;
}

.modalt {
  position: absolute;
  align-items: center;
  /*left: 35%;*/
}

.modalh {
}

